    <% @newmessages.each do |m| %>
    <li>
    	<p><%= m.content %></p>
    	<h8><%= m.username %></h8>
    	<abbr class="timeago" title="<%= m.created_at.to_s().to_time.iso8601 %>" ><%= m.created_at.to_s(:db) %></abbr>
    </li>

    <% end %>